@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*--------------------------------------------------------------
# Color variables
--------------------------------------------------------------*/
:root {
  --color_blue: rgb(0, 45, 74);
  --color_red: rgb(221, 35, 33);
  --color_grey: rgb(32, 40, 43);
}

$breakpoint-small: 768px;

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.7rem;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  color: var(--color_blue);
}

a {
  color: var(--color_blue);
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

i {
  width: 1.5rem;
}

.btn-red {
  font-weight: bold;
  margin-top: 2rem;
  color: var(--color_red);
  background-color: white;
  border-color: var(--color_red);
  border-radius: 0;
  width: 10rem;
  border-width: medium;
}

.btn-red:hover {
  color: white;
  background-color: var(--color_red);
  border-color: var(--color_red);
}

hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid lightgrey;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 110;
}

header .main-container {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

#headerlogo {
  height: 70px;
}

#headerphone {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--color_blue);
}

#desktop-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#navbar {
  margin-top: auto;
  font-weight: 500;
  font-size: 1.1rem;
}

li:last-child a {
  padding-right: 0;
}

header a:hover {
  color: var(--color_red);
}

header hr {
  border-bottom: 0;
  border-top: 10px solid var(--color_red);
}

.nav-link {
  font-weight: 500;
  font-size: 1.1rem;
}

#phone-nav {
  display: none;
}

@media only screen and (max-width: $breakpoint-small) {
  header {
    position: relative;
    .main-container {
      width: 100%;
      background-image: url("../images/logo.svg");
      background-size: auto 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  #desktop-nav,
  #headerlogo {
    display: none;
  }
  #phone-nav {
    display: flex;
  }
  #content {
    margin-top: 0 !important;
  }
}

/*--------------------------------------------------------------
# carouselExampleIndicators
--------------------------------------------------------------*/

.carousel img {
  height: 500px;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption {
  bottom: 100px;
  h5 {
    font-size: 3rem;
  }
}

/*--------------------------------------------------------------
# intro
--------------------------------------------------------------*/

.intro {
  padding: 2rem 0;
  img {
    width: 45%;
    object-fit: cover;
  }
  h1 {
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  p:last-child {
    margin-top: 1rem;
  }
  .btn {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }
  article {
    width: 50%;
  }
  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .intro article {
    width: 100%;
  }
  .intro img {
    margin-bottom: 1rem;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/

.services {
  padding: 2rem 0;
  text-align: center;
}

.cardsection {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.card {
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 0;
  p {
    text-align: left;
    margin-bottom: 1rem;
  }
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  a {
    margin: auto auto 0;
    width: 50%;
  }
  img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .card {
    width: 100%;
    margin: 1.5rem 0;
  }
}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/

.portfolio {
  padding: 2rem 0;
  text-align: center;
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  ::after {
    content: "";
    flex: auto;
  }
}

.portfolio-card {
  width: 50%;
  position: relative;
  padding: 0.5rem;
  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}

.portfolio-card:hover {
  .overlay {
    opacity: 0.5;
    cursor: pointer;
  }
  .text {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--color_grey);
}

.text {
  color: white;
  font-size: 20px;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: 1s ease;
}

@media only screen and (max-width: $breakpoint-small) {
  .portfolio-card {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# form
--------------------------------------------------------------*/

.form {
  text-align: center;
  padding: 2rem 0;
}

form {
  margin-top: 2rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  background-color: var(--color_blue);
  color: white;
  padding: 2rem 0;
  h5 {
    margin-bottom: 1rem;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  ul {
    width: 20rem;
    margin-bottom: 2rem;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color_red);
  p {
    display: inline-block;
  }
  img {
    height: 1rem;
  }
}

.social {
  margin-left: auto;
  text-align: right;
  img {
    height: 2rem;
  }
}

.links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

i + p {
  display: inline-block;
  margin-left: 1rem;
}

ul i {
  vertical-align: middle;
}

@media only screen and (max-width: $breakpoint-small) {
  .links {
    flex-direction: column;
  }
  .social {
    text-align: left;
    margin: 0 0 1.5rem;
  }
.copyright {flex-direction: column;}
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.main-container {
  width: 80%;
  margin: auto;
}
