@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*--------------------------------------------------------------
# Color variables
--------------------------------------------------------------*/
:root {
  --color_blue: rgb(0, 45, 74);
  --color_red: rgb(221, 35, 33);
  --color_grey: rgb(32, 40, 43);
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.7rem;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  color: var(--color_blue);
}

a {
  color: var(--color_blue);
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin: 0;
}

a:hover,
a:focus {
  /* background-color: #BD93F2; */
}

figure {
  margin: 0;
}

hr {
  margin: 0;
  border: 0;
  border-top: 10px solid var(--color_red);
}

ul {
  list-style: none;
  padding: 0;
}

i {
  width: 1.5rem;
}

.btn-red {
  font-weight: bold;
  margin-top: 2rem;
  color: var(--color_red);
  background-color: white;
  border-color: var(--color_red);
  border-radius: 0;
  width: 10rem;
  border-width: medium;
}

.btn-red:hover {
  color: white;
  background-color: var(--color_red);
  border-color: var(--color_red);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 110;
}

#headerlogo, #headerphone, #navbar  {
  transition: 0.8s;
}

header div {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

#headerphone {
  margin: 0;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color_blue);
}

header section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#navbar {
  margin-top: auto;
  font-weight: 700;
  font-size: 1.3rem;
}

li:last-child a {
  padding-right: 0;
}

header a:hover {
  color: var(--color_red);
}

/*--------------------------------------------------------------
# carouselExampleIndicators
--------------------------------------------------------------*/

.carousel img {
  height: 500px;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption h5 {
  font-size: 3rem;
}

.carousel-caption {
  bottom: 100px;
}

/*--------------------------------------------------------------
# intro
--------------------------------------------------------------*/

section.intro {
  padding: 2rem 0;
  /* display: flex;
  flex-direction: column; */
}

.intro img {
  width: 45%;
}

.intro div {
  display: flex;
  justify-content: space-between;
}

.intro article {
  width: 50%;
}

.intro h1 {
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.intro p:last-child {
  margin-top: 1rem;
}

.intro .btn {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

hr.intro {
  border: 0;
  border-bottom: 1px solid lightgrey;
}

/*--------------------------------------------------------------
# service
--------------------------------------------------------------*/

section.services {
  padding: 2rem 0;
  text-align: center;
}

.cardsection {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card {
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 0;
}

.card p {
  text-align: left;
}

.card h3,
h2 {
  margin-bottom: 1rem;
}

.card a {
  margin: auto auto 0;
  width: 50%;

}

.card img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/

section.portfolio {
  padding: 2rem 0;
  text-align: center;
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.portfolio-section::after {
  content: "";
  flex: auto;
}

.portfolio-card {
  width: 50%;
  position: relative;
  padding: 0.5rem;
}

.portfolio-card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--color_grey);
}

.portfolio-card:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: 1s ease;
}

.portfolio-card:hover .text {
  opacity: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  background-color: var(--color_blue);
  color: white;
  padding: 2rem 0;
}

footer h5 {
  margin-bottom: 1rem;
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer ul {
  width: 30%;
  margin-bottom: 2rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color_red);
}

.copyright p {
  display: inline-block;
}

.copyright img {
  height: 1rem;
}

.social {
  margin-left: auto;
  text-align: right;
}

.social img {
  height: 2rem;
}

.links {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

i + p {
  display: inline-block;
  margin-left: 1rem;
}

ul i {
  vertical-align: middle;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.main-container {
  width: 80%;
  margin: auto;
}

.alignright {
  margin-left: auto;
  /* margin-left push to the right!!! */
}

.alignleft {
  margin-right: auto;
  /* margin-left push to the right!!! */
}

.aligncenter {
  margin: auto;
}

.textcenter {
  text-align: center;
}
